{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    
<body class="classe">
    <div class="header">
        <h3> Detalhes do Posto</h3>
    </div>

    <div>
        <h1>Nome do Posto</h1>
        <p>Localização do posto</p>
    </div>

    <div>
        <h3>Preços atuais</h3>
    </div>

    <div>
        <h3>Histórico de Preços</h3>
    </div>

    <div>
        <h3>Comercios no Posto</h3>   
    </div>

    <div><h4><span style="font-weight: bold;color: red;">Dado Suspeito</span></h4>
    </div>

    <div></div><h4><span style="font-weight: bold;color: red;">Adulteração</span></h4>
    </div>

<!--botar o texto dos ultimos dois textos em vermelho e tentar fazer ambos ser lado a lado-->

</body>
</html>