<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Meu perfil</h3>
    </div>

    <div>
        <h2>Nome</h2>
    </div>

    <div>
        <h3>Reputação</h3>
        Nota
        <div>
            Num Contribuições
        </div>
        <div>
            Num Validadas
        </div>
        <div>
            Num rejeitadas
        </div>
    </div>

    <div>
        <h3>Historico de Contribuições</h3>
        <div>
            Nenhuma contribuição ainda.
        </div>
    </div>

    <div>
        <h3>Denuncias Realizadas</h3>
        <div>
            Nenhuma denuncia ainda.
        </div>
    </div>

    <div>
        <h4>Instale o App no Celular<h4>
    </div>

    <div>
        <h4>Sair da conta </h4>
        <!--Inserir esse texto em vermelho-->
    </div>

</body>
</html>