{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="classe">
    <div class="header">
        <h3>Meu perfil</h3>
    </div>

    <div>
        <i class="bi bi-person"></i>
        <h2>Nome</h2>
        Endereço de email
    </div>

    <div>
        <h3>Reputação</h3>
        Nota
        <div>
            Num Contribuições
        </div>
        <div>
            Num Validadas
        </div>
        <div>
            Num rejeitadas
        </div>
    </div>

    <div>
        <h3>Historico de Contribuições</h3>
        <div>
            Nenhuma contribuição ainda.
        </div>
    </div>

    <div>
        <h3>Denuncias Realizadas</h3>
        <div>
            Nenhuma denuncia ainda.
        </div>
    </div>

    <div>
        <h4>Instale o App no Celular<h4>
    </div>

    <div class = "sair">
        <h4><span>Sair da conta</span></h4>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>