<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1>Abastece Fácil</h1>
    </header>

    <main>

        <div class="card">
            <h2>Postos próximos</h2>
            <p>Veja os postos mais próximos da sua localização.</p>

            <button>Ver postos</button>
        </div>

        <div class="card">
            <h2>Melhor preço</h2>
            <p>Compare preços de combustível rapidamente.</p>

            <button>Comparar</button>
        </div>

    </main>

</body>
</html>

