body    .classe {
    padding: 14px 800px;
    display: flex;
    background-color: #dcd807;
}

.header {
    display: flex;
    padding: 0px 800px;
    align-items: center;
}

.sair{
    color: red;
    font-weight: bold;
}

